<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Controle de chamados Solutis</title>
  <link rel="stylesheet" type="text/css" href="C:\Users\danilo.souza\Desktop\ChamadosControl\css\style.css">
</head>
<body>

    <h2>Registrar Chamados<h2>
    <form action="/show" method="POST">
    <div class="form-group">
        <label for="nome">Nome: </label>   
        <input type="text" placeholder="Nome" name="name">
    </div>
    <div class="form-group">
        <label for="Sobrenome">Sobrenome: </label>  
        <input type="text" placeholder="Sobrenome" name="surname">
    </div>
    <div class="form-group">
     <label for="numChamado">Número do chamado: </label>  
     <input type="text" placeholder="Número do chamado" name="numChamado">
    </div>
    <div class="form-group">
     <label for="nomeContrato">Contrato: </label>  
     <input type="text" placeholder="Contrato" name="nomeContrato">
    </div>
        <button type="submit">Registrar chamado</button>
    </form> 

</body>
</html>